body {
    background-color: #edf2fa;
}
.ahmed {
    border-radius: 15px;
}
.mo {
    position: relative;
    bottom: 35px;
    left: 18px;
    color: #0000ff;
}
.mytext{
    font-size: 20px;
}